header {
    padding: 1%;
}

h1 {
    text-align: center;
    color:rgb(55, 55, 170);
}

figure {
    border: 2px solid black;
    padding: 1%;
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

